.harmonic-series {
  text-align: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.harmonic-table {
  width: 100%;
  font-size: 1.15em;
}

.table-entry > th {
  font-weight: 400;
  padding: 8px;
}
