.harmonic-series {
  text-align: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wave-header {
  width: 400px;
}

.harmonic-table-container {
  width: 100%;
  font-size: 1.15em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 8px;
}

.harmonic-element-container {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.harmonic-element-container:hover {
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  color: #2f8b44;
}
