.description {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.description > p {
  text-align: justify;
}

th.sine-wave {
  width: 60%;
  padding: 0;
}

.toggle-description {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  align-self: center;
}

.description-header {
  display: inline-flex;
}

.collapsed {
  display: none;
}
