.note-banner {
  border-radius: 10px;
  font-weight: 700;
  background-color: white;
  color: #2f8b44;
  padding: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-color: #2f8b44;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.note-banner:hover {
  background-color: #2f8b44;
  border-color: white;
  color: white;
}

.note-banner > img {
  padding-left: 15px;
  padding-right: 5px;
}
